// Variables
$windowMargin: 0;
$windowPadding: 0;
$headingcolor: white;
$infiniteAniAttr: infinite linear;
$homeAniAttr: 10s $infiniteAniAttr;

// @Mixins

@mixin position($x,$y,$z) {
    position: absolute;
    top: $x;
    left: $y;
    z-index: $z;
    @if  $x == 50% and $y == 50% {
        transform: translate(-50%,-50%);
    }
    @else if $x == 50%{
        transform: translateY(-50%);
    }
    @else if $y == 50%{
        transform: translateX(-50%);
    }
}

@mixin backgroundImg($path,$x:0,$y:0,$w:0,$h:0){
    background: {
        image: url($path);
        position: $x $y;
        size: $w $h;
    }
    background-repeat: no-repeat;
}

@mixin box-sizing($w:auto,$h:auto,$m:0,$p:0){
    width: $w;
    height: $h;
    margin: $m;
    padding: $p;
}

@mixin setFont($size:14px,$weight:none,$lineHeight:auto,$align:none,$color:black){
    font-size: $size;
    font-weight: $weight;
    line-height: $lineHeight;
    text-align: $align;
    color: $color;
}

// import
@import url('https://fonts.googleapis.com/css?family=Nanum+Pen+Script&display=swap');

// default elements 
* {
    font-family: 'Nanum Pen Script', cursive;
}
html{
    height: 100%;
}
body{
    @include box-sizing(auto, 100%, $windowMargin, $windowPadding);
    background: rgb(176, 207, 211);
    border-bottom: 14px solid gray;
    box-sizing: border-box;
    overflow: hidden;
}


// custom element
.cl1{
    @include box-sizing(23%, 23%, 0, 0);
    @include backgroundImg("../images/main/cl1.png", 0, 0, 100%, 100%);
    @include position(15%, 5%, 3);
    animation: cl1-move $homeAniAttr;
}
.cl2{
    @include box-sizing(24%, 30%, 0, 0);
    @include backgroundImg("../images/main/cl2.png", 0, 0, 100%, 100%);
    @include position(15%, 68%, 3);
    animation: cl2-move $homeAniAttr;
}
.delivery{
    @include box-sizing(12%, 21%, 0, 0);
    @include backgroundImg("../images/main/delivery.png", 0, 0, 100%, 100%);
    @include position(77.7%, 0, 20);
    animation:delivery $homeAniAttr;
}
.chat
{
    @include position(63%, 71%, 10);
    @include box-sizing(12%, 12%, 0, 0);
    @include setFont(4vh, bold, 280%, center);
    background: #FFFFFF;
    border-radius: 12%;
    animation: chat 10s infinite linear;
    &:after
    {
        content: '';
        @include position(100%, 19%, 1);
        @include box-sizing(0);
        border-style: solid;
        border-width: 40px 17px 0;
        border-color: #FFFFFF transparent;
        display: block;
        
    }
}

.streetlight{
    @include box-sizing(10%, 28%, 0, 0);
    @include backgroundImg("../images/main/streetlight.png", 0, 0, 100%, 100%);
    @include position(70.6%, 3%, 19);
    animation: streetlight 10s infinite linear;
}


.App-main{
    @include box-sizing(23%, 44%, 0,0);
    @include position(50%, 50%, 20);
    text-align: center;
    border: 4px solid $headingcolor;
    border-radius:20%;
    background-color: pink;
    h1{
        @include setFont(7vmin, none, auto, none, $headingcolor)
    }
    p{
        font-size: 2.5vh;
    }
    button{
        display: inline-block;
        @include box-sizing(15vh, 15vh, auto, auto);
        background: url("../images/main/lunch.png") 0 0/100% 100% no-repeat;
        border: 0;
        outline: 0;
        &:hover{
            animation: rotate 3s infinite linear;
        }
    }
}

#popup {
    @include position(50%,50% , 21);
    @include box-sizing(100%, 100%, 0, 0);
    display: none; /*숨기기*/
    background: rgba(0,0,0,0.9);
    >h1{
        @include position( 1%, 50%, 15); 
        @include setFont(9vh, none, auto, none, pink); 
        transform: translate(-50%);
    }
    #popmenu {
        @include position(50%, 50%, 0);
        @include box-sizing(30%, 60%, auto, auto);
        text-align: left;
        background: #fff;
        border-radius: 10%;
        border: 3px double ;
        h1 {
            margin-top: 3%;
            margin-left: 8%;
            @include setFont(5vh, bold);
            span{
                @include setFont(3vh, none, auto, none, #007aae);
            }
          }
          img{
            @include box-sizing(80%, 50%, auto, auto);
            margin-left: 8%;
            border-radius: 20px;           
        }
        p{
            margin-left: 8%;
            font-size: 2.4vh;    
        }
        >a{
            @include setFont(3vh, bold, auto, none, aqua);
            position: relative;
            left: 30%;
            text-decoration: none;
            &:visited{
                color: blue;
            }
            &:hover{
                color: red;
            }
            &:after{
                @include backgroundImg("../images/main/search.png", 0px, 0px, 100%, 100%);
                @include box-sizing(5%, 5%);
                content: "";
                display: inline-block;
                margin-left: 1%;
            }
        }
        .exit {
            @include position(88%, 50%, 0);
            @include box-sizing(20%, 10%);
            @include setFont(3vh, none, 200%, center);
            transform: translate(-50%,0);
            background: #007AAE;
            border-radius: 25px;
            cursor: pointer;
            
            &:hover{
                background: darken($color: #007AAE, $amount: 30%);
            }
        }
    }
}

.light{
    animation: lighting-box 3s infinite linear;
}
.load-box{
    @include position(50%,50% , 21);
    @include box-sizing(100%, 100%, 0, 0);
    background: rgba(0,0,0,0.95);
    .loading{
        @include position(35%, 50%, 25);
        @include setFont(7vh, bold, auto, left, #fcf);
    }
    .load {
        display: inline-block;
        position: relative;
        width: 80px;
        height: 80px;
        @include position(50%, 50%, 25);
        div {
        box-sizing: border-box;
        display: block;
        position: absolute;
        width: 64px;
        height: 64px;
        margin: 8px;
        border: 8px solid #fcf;
        border-radius: 50%;
        animation: load 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
        border-color: #fcf transparent transparent transparent;
        &:nth-child(1) {
            animation-delay: -0.45s;
        }
        &:nth-child(2) {
            animation-delay: -0.3s;
        }
        &:nth-child(3) {
            animation-delay: -0.15s;
        }
    }
}
}

.lds-ellipsis {
  display: inline-block;
  position: absolute;
  top: 10%;
  width: 80px;
  height: 80px;
  div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #fcf;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
    &:nth-child(1) {
      left: 8px;
      animation: lds-ellipsis1 0.6s infinite;
    }
    &:nth-child(2) {
      left: 8px;
      animation: lds-ellipsis2 0.6s infinite;
    }
    &:nth-child(3) {
      left: 32px;
      animation: lds-ellipsis2 0.6s infinite;
    }
    &:nth-child(4) {
      left: 56px;
      animation: lds-ellipsis3 0.6s infinite;
    }
  }
}
// animation

@keyframes rotate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(-360deg);
    }
}
@keyframes cl1-move{
    0%{
        left: 100%;
    }
    60%{
        left: 25%;
    }
    75%{
        left: 25%;
    }
    100%{
        left: -30%;
    }
}
@keyframes cl2-move{
    0%{
        left: 60%;
    }
    60%{
        left: 5%;
    }
    75%{
        left: 5%;
    }
    100%{
        left: -30%;
    }
}
@keyframes streetlight{
    0%{
        left: 80%;
    }
    60%{
        left: 25%;
    }
    75%{
        left: 25%;
    }
    100%{
        left: -30%;
    }
}
@keyframes delivery{
    0%{
        left: -10%;
    }
    60%{
        left: 65%;
    }
    75%{
        left: 65%;
    }
    100%{
        left: 150%;
    }
}
@keyframes chat{
    0%{
        opacity: 0;
 
    }
    63%{
        opacity: 0;
       
    }
    64%{
        opacity: 1;
    }
    74%{
        opacity: 1;
       
    }
    75%{
        opacity: 0;
     
    }
    100%{
        opacity: 0;
       
    }
}
@keyframes lighting-box{
    0%{
        box-shadow: none;
    }
    50%{
        box-shadow: 0 0 80px 20px yellow;
    }
    100%{
        box-shadow: none;
    }
}

  @keyframes load {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  

  @keyframes lds-ellipsis1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes lds-ellipsis3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  @keyframes lds-ellipsis2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(24px, 0);
    }
  }